{{ define "main" }}
<div class="max-w-4xl w-full m-3 text-slate-700 dark:text-slate-300">
    <div class="space-y-3 mb-3">
        {{ $pages := .Paginate ( .Site.RegularPages ) }}
        {{ range $pages.Pages }}<a
            class="block rounded-md border text-lg bg-white dark:bg-gray-800 border-rose-500/0 hover:border-rose-500 dark:hover:border-rose-400 transition-colors overflow-hidden"
            href="{{ .RelPermalink }}">
            {{ if .Params.cover }}<img class="w-full border-b border-slate-900/10 dark:border-slate-300/10"
                src="{{ .RelPermalink }}{{ .Params.cover }}" alt="cover">{{end}}
            <div class="p-4 space-y-2">
                <span class="block text-xl font-normal text-rose-500 dark:text-rose-400">{{ .Title }}</span>
                <div class="text-sm font-medium flex items-center flex-wrap">
                    {{ if .GitInfo }}<span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-4 h-4 inline-block mx-2">
                            <path fill-rule="evenodd"
                                d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                clip-rule="evenodd" />
                        </svg>
                        <span>{{ .GitInfo.AuthorName }}</span>
                    </span>{{ end }}
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-4 h-4 inline-block mx-2">
                            <path
                                d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                            <path
                                d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                        </svg>
                        <span>{{ .Date.Format "2006-01-02" }}</span>
                    </span>
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-4 h-4 inline-block mx-2">
                            <path fill-rule="evenodd"
                                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 6a.75.75 0 00-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 000-1.5h-3.75V6z"
                                clip-rule="evenodd" />
                        </svg>
                        <span>{{ .Lastmod.Format "2006-01-02" }}</span>
                    </span>
                    <span class="flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                            class="w-4 h-4 inline-block mx-2">
                            <path fill-rule="evenodd"
                                d="M6.912 3a3 3 0 00-2.868 2.118l-2.411 7.838a3 3 0 00-.133.882V18a3 3 0 003 3h15a3 3 0 003-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0017.088 3H6.912zm13.823 9.75l-2.213-7.191A1.5 1.5 0 0017.088 4.5H6.912a1.5 1.5 0 00-1.434 1.059L3.265 12.75H6.11a3 3 0 012.684 1.658l.256.513a1.5 1.5 0 001.342.829h3.218a1.5 1.5 0 001.342-.83l.256-.512a3 3 0 012.684-1.658h2.844z"
                                clip-rule="evenodd" />
                        </svg>
                        {{/* <span>{{ delimit .Params.categories " " }}</span> */}}
                        <span>{{ .Params.categories }}</span>
                    </span>
                </div>
                <div class="text-base font-medium">{{ .Summary | plainify }}</div>
                <div class="text-base font-medium text-right text-rose-500 dark:text-rose-400">阅读全文 &rarr;</div>
            </div>
        </a>{{ end }}
    </div>

    {{ with .Paginator }}
    {{- $currentPageNumber := .PageNumber }}

    {{- $slots := 5 }}
    {{- $start := math.Max 1 (sub .PageNumber (math.Floor (div $slots 2))) }}
    {{- $end := math.Min .TotalPages (sub (add $start $slots) 1) }}
    {{- if lt (add (sub $end $start) 1) $slots }}
    {{- $start = math.Max 1 (add (sub $end $slots) 1) }}
    {{- end }}

    <div class="flex justify-center text-sm font-medium">
        <nav class="inline-flex" aria-label="Pagination">
            {{ with .Prev }}
            <a href="{{ .URL }}" aria-label="Previous" role="button"
                class="mx-1 w-10 text-center py-2 rounded-md transition-colors hover:bg-rose-400/10">
                &larr;
            </a>
            {{ end }}

            {{ range $num := seq $start $end }}
            {{ if eq $.Paginator.PageNumber $num }}
            <a aria-current="page"
                class="mx-1 w-10 text-center py-2 rounded-md bg-rose-400/10 text-rose-500 dark:text-rose-400">{{ $num
                }}</a>
            {{ else }}
            <a href="{{ (index $.Paginator.Pagers (sub $num 1)).URL }}"
                class="mx-1 w-10 text-center py-2 rounded-md transition-colors hover:bg-rose-400/10">{{ $num }}</a>
            {{ end }}
            {{ end }}

            {{ with .Next }}<a href="{{ .URL }}" aria-label="Next" role="button"
                class="mx-1 w-10 text-center py-2 rounded-md transition-colors hover:bg-rose-400/10">
                &rarr;
            </a>
            {{ end }}
        </nav>
    </div>
    {{ end }}
</div>
{{ end }}